$colorAzul: #0b0cac;
$colorSecundario: #5151E1;
$fuente: 'Roboto', sans-serif;;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}    
main{
    h1{
        font-family: $fuente;
    }.caja{
        background-color: $colorSecundario;
    }
} 
header{
    background-color: white;
}
ul{display: flex;
    justify-content: space-around;
}li{
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: $colorAzul;
}li p{
    color: gray;
}
input{
    border-radius: 20px;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.simulador{
    width: 500px;
    height: 400px;
    margin: auto;
    background-color: $colorSecundario;
    color: white;
    border-radius: 20px;
}.simulador .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}
h2{
    color: black;
}
h3{
    font-family: $fuente;
    font-weight: bolder;
    margin-left: 1rem;
    font-size: 2rem;
    text-decoration: underline;
}
.boton{
    background-color: white;
    color: black;
    width: 15rem;
    border-radius: 20px;
    border: transparent;
    align-self: center;
    margin-top: 1.5rem;
}
.nosotros{
    display: flex;
    justify-content: space-evenly;
    background-color: $colorSecundario;
    color: white;
    padding: 2rem;
    margin-top: 3rem;
    width: 100%;
    height: 600px;
}.nosotros p{
    text-align: left;
    width: 250px;
    margin-left: 1rem;
    font-size: 1.8rem;
    padding-top: 2rem;
} .nosotros img{
    width: 400px;
}
footer{
    width: 100%;
    height: 4rem;
    background-color: #5151E1;
    position: absolute;
    margin-top: 5rem;
    color: white;
    text-align: center;
} footer a{
    padding: 2rem;
    margin: auto;
}